@font-face {
    font-family: "NerisBlack";
    src: url("../../fonts/Neris-Black.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Neris";
    src: url("../../fonts/Neris-Light.otf") format("truetype");
    font-display: swap;
}

.calendar {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar h1 {
    font-family: "NerisBlack";
    font-size: 40px;
    font-style: italic;
    color: #1F384C;
    letter-spacing: 10px;
    margin: 0;
    padding: 3% 0;
}

.calendar-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
  
.calendar-table-container {
    width: 80%;
    overflow-y: auto;
    max-height: 800px;
    padding: 0;
    letter-spacing: 0px;
}

.calendar-table-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Neris";
    font-size: 11px;
    background-color: #FAFAFA;
}

.calendar-table-container th,
.calendar-table-container td {
    border: 1px solid black;
    padding: 9px;
    text-align: center;
    border-left: none;
    border-right: none;
}

.calendar-table-container td {
    font-family: "Neris";
    cursor: pointer;
    font-size: 14px;
}

.calendar-table-container th {
    font-family: "NerisBlack";
    background-color: #FFE220;
    border-top: none;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 16px;
}