@font-face {
    font-family: "NerisBlack";
    src: url("../../fonts/Neris-Black.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Neris";
    src: url("../../fonts/Neris-Light.otf") format("truetype");
    font-display: swap;
}

.choose-league {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    font-family: "NerisBlack";
}

.choose-league-popup {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;    
}

.choose-league-popup-content {
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.choose-league-popup-content p {
    text-align: center;
    font-family: "Neris";
    font-size: 24px;
}

.choose-league-popup-content button {
    font-family: "NerisBlack";
    font-style: italic;
    color: white;
    cursor: pointer;
    font-size: 24px;
    border-radius: 80px;
    width: 250px;
    height: 50PX;
    margin: 0;
    padding: 0;
    background-color: #FDDD07;
    border: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.choose-league-left-banner {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background-size: cover; 
    background-repeat: no-repeat;
}

.choose-league-shadow-container {
    position: relative;
    width: 90%;
}
  
.choose-league-title {   
    border-top: 10px solid #FDDD07;
    text-align: left;
    width: 90%; 
    position: relative;
    z-index: 1;
    box-shadow: -1px -1px 30px rgb(0, 0, 0, 0.1),
                  1px -1px 30px rgb(0, 0, 0, 0.1),
                  -1px 1px 30px rgb(0, 0, 0, 0.1),
                  1px 1px 30px rgb(0, 0, 0, 0.1);
}

.choose-league-shadow-mask-right, .choose-league-shadow-mask-bottom {
    position: absolute;
    background-color: white; 
    z-index: 2; 
}

.choose-league-shadow-mask-right {
    top: 0;
    right: 5%;
    bottom: 0;
    width: 5%; 
}

.choose-league-shadow-mask-bottom {
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
}

.choose-league-title h1 {
    margin: 0;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-family: "NerisBlack";
}

.choose-league-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 5%;
}

.choose-league-choice {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.choose-league-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.choose-league-create-container {
    display: flex;
    flex-direction: column;
}

.choose-league-create-container label {
    display: flex;
    align-items: center;
    font-family: "Neris";
    font-size: 20px;
    gap: 5px;
    color: #1B1446;
}

.choose-league-create-container input {
    border: none;
    background-color: #F6F8FB;
    border-radius: 16px;
    padding: 15px 30px;
    height: 20px;
    width: 400px;
}

.choose-league-create-container p {
    color: #00B512;
    margin: 0;
    margin-top: 10px;
    text-align: left;
    font-family: "Neris";
    font-size: 14px;
}

.choose-league-create-container span {
    color: #EC1C24;
    margin: 0;
    text-align: left;
    font-family: "Neris";
    font-size: 14px;
}

.choose-league-create-container button {
    margin-top: 20%;
}

.choose-league-create-no-link {
    color: inherit;
    text-decoration: none;
    width: 520px;
    box-shadow: -1px -1px 40px rgb(0, 0, 0, 0.1),
                  1px -1px 40px rgb(0, 0, 0, 0.1),
                  -1px 1px 40px rgb(0, 0, 0, 0.1),
                  1px 1px 40px rgb(0, 0, 0, 0.1);
}

.choose-league-no-link, .choose-league-choose-team-title {
    color: inherit;
    text-decoration: none;
}

.choose-league-no-link p, .choose-league-create-no-link p {
    width: 100%;
    padding: 20px 0;
}

.choose-league-choice h2 {
    margin: 0;
}

.choose-league-choice h2, .choose-league-create-container button, .choose-league-choose-team-title {
    font-family: "NerisBlack";
    cursor: pointer;
    width: 400px;    
    font-size: 30px;
    font-style: italic;
    padding: 25px 0;
    background-color: #FDDD07;
    color: white;
    border: none;
    border-radius: 80px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-league-join {
    margin-top: 7%;
}

.choose-league-join-input {
    display: flex;
    width: 600px;
    border: 1px solid black;
}

.choose-league-join-input input, .choose-league-join-input button {
    width: 50%;
    padding: 20px;
    font-family: "Neris";
    font-size: 20px;
    border: none;
}

.choose-league-join-input button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.choose-league-join-no-exist {
    color: red;
    text-align: center;
}

.choose-league-rules {
    padding: 5% 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

.choose-league-rules p {
    padding-bottom: 30px;
    font-family: "Neris";
    font-size: 15px;
    letter-spacing: 2px;
}

.choose-league-choose-team {
    display: flex;
    padding-top: 2%;
}

.choose-league-choose-team-left-container, .choose-league-choose-team-right-container {
    width: 50%;
    position: relative;
}

.choose-league-choose-team-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.choose-league-choose-team-left-container img {
    padding-top: 7%;
}

.choose-league-choose-team-right-container img {
    padding-bottom: 10%;
}

@media (max-width: 1499px) and (min-width: 700px) {
    .choose-league-title h1 {
        font-size: 36px;
    }

    .choose-league-choice h2, .choose-league-create-container button, .choose-league-choose-team-title {
        font-family: "NerisBlack";
        cursor: pointer;
        width: 320px;    
        font-size: 24px;
        padding: 15px 0;
    }

    .choose-league-create-container label, .choose-league-join-input input, .choose-league-join-input button {
        font-size: 16px;
    }

    .choose-league-join-input {
        width: 450px;
    }

    .choose-league-choose-team-left-container img {
        padding-top: 13%;
    }
    
    .choose-league-choose-team-right-container img {
        padding-bottom: 8%;
    }

    .choose-league-popup-content button {
        font-size: 20px;
        border-radius: 80px;
        width: 200px;
    }
}


@media (max-width: 699px) {
    .choose-league {
        padding-top: 0%;;
    }

    .choose-league-left-banner {
        width: 40px;
    }

    .choose-league-shadow-container {
        position: relative;
        width: 100%;
    }

    .choose-league-title {  
        text-align: center;
        width: 100%; 
        box-shadow: none;
        display: flex;
        justify-content: center;
    }

    .choose-league-shadow-mask-right, .choose-league-shadow-mask-bottom {
        display: none;
    }

    .choose-league-title h1 {
        width: 90%;
        margin: 0;
        font-size: 28px;
        padding-left: 0px;
        padding-top: 50px;
    }

    .choose-league-body {
        justify-content: center;
        padding-top: 0%;
    }

    .choose-league-body img {
        display: none;
    }

    .choose-league-choice {
        margin-top: 10%;
    }

    .choose-league-choice h2, .choose-league-create-container button, .choose-league-choose-team-title {
        width: 250px;    
        font-size: 20px;
        padding: 20px 0;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
        margin: 15px 0;
    }

    .choose-league-rules p {
        letter-spacing: 0px;
    }

    .choose-league-create-container {
        align-items: center;
    }

    .choose-league-create-container input {
        border: none;
        background-color: #F6F8FB;
        border-radius: 16px;
        padding: 15px 30px;
        height: 20px;
        width: 220px;
    }    

    .choose-league-create-container label {
        text-align: left;
        font-size: 16px;
        width: 260px;
    }

    .choose-league-create-container p {
        font-size: 11px;
    }
    
    .choose-league-create-container span {
        text-align: center;
        font-size: 11px;
    }

    .choose-league-create-container button {
        margin-top: 15%;
    }

    .choose-league-join-input {
        display: flex;
        flex-direction: column;
        width: 280px;
        border: 1px solid black;
    }

    .choose-league-join-input input {
        width: 240px;
    }
    
    .choose-league-join-input input, .choose-league-join-input button {
        padding: 20px;
        font-size: 20px;
    }
    
    .choose-league-join-input button {
        width: 100%;
    }

    .choose-league-choose-team {
        flex-direction: column;
        padding-top: 0%;
    }
    
    .choose-league-choose-team-left-container, .choose-league-choose-team-right-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .choose-league-choose-team-title {
        position: relative;
        bottom: 0;
        left: 0;
        transform: translateX(0);
    }

    .choose-league-choose-team-left-container a, .choose-league-choose-team-right-container a {
        margin: 0;
    }
    
    .choose-league-choose-team-left-container img {
        padding-top: 0%;
        width: 306px;
        height: 172px;
    }
    
    .choose-league-choose-team-right-container img {
        padding-bottom: 0%;
        width: 306px;
        height: 204px;
    }

    .choose-league-popup-content button {
        font-size: 20px;
        border-radius: 80px;
        width: 200px;
        height: 50px;
    }
}