@font-face {
    font-family: "Neris";
    src: url("../../fonts/Neris-Light.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NerisBlack";
    src: url("../../fonts/Neris-Black.otf") format("truetype");
    font-display: swap;
}

.home {
    background-color: #FEF7EC;
}

/* Section 1 */
.home-section1-background {
    position: relative;
}

.home-section1-background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 71px;
}

/* Section 2 */

.home-section2 {
    display: flex;
    margin-bottom: 5%;
    margin-top: 1%;
}

.home-section2-left-container, .home-section2-right-container {
    flex: 1; 
    position: relative; 
}

.home-section2-text-content {
    width: 100%;
    font-family: "Neris";
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-left: 20%;
}

.home-section2-text-content h1, .home-section2-text-content h2 {
    font-style: italic;
    display: flex;
    align-items: center;    
    font-family: "NerisBlack";
    margin: 0;
}

.home-section2-text-content h1 {
    font-size: 45px;
    color: #FFE220;
    font-style: italic;
}

.home-section2-text-content h2 {
    font-size: 35px;
    margin-top: 20px;
}

.home-section2-text-content p {
    font-size: 30px;  
    margin: 0; 
    margin-top: 20px;
}

.home-section2-right-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

.home-section2-button {
    background-color: #FFE220;
    color: white;
    font-family: "NerisBlack";
    font-size: 35px;
    letter-spacing: 9px;
    border: none;
    border-radius: 41px;
    padding: 15px 40px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;    
}

/* Section 3 */
.home-section3 {
    text-align: center;
    position: relative;
    background: linear-gradient(to right, 
                                black 0%, black 33.33%, 
                                white 33.34%, white 66.66%, 
                                #FFE220 66.67%, #FFE220 100%);
}

.home-section3-background {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.home-section3-title {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0%);
    z-index: 2;
    font-family: "NerisBlack";
    font-size: 64px;
    color: white;
    font-style: italic;
    width: 100%;
}

.home-section3-vignettes-container {
    display: flex;
}

.home-section3-left-vignette, .home-section3-center-vignette, .home-section3-right-vignette {
    width: 33.33%;
    padding: 100px 20px;
    text-align: center;
}

.home-section3-left-vignette {
    background-color: black;
    color: #FFE220;
}

.home-section3-center-vignette {
    background-color: white;
}

.home-section3-right-vignette {
    background-color: #FFE220;
}

.home-section3-left-vignette h3, .home-section3-center-vignette h3, .home-section3-right-vignette h3 {
    margin-top: 0;
    font-family: "NerisBlack";
    font-size: 35px;
    font-style: italic;
    padding-bottom: 40px;
    letter-spacing: 2px;
}

.home-section3-left-vignette p, .home-section3-center-vignette p, .home-section3-right-vignette p {
    font-family: "Neris";
    font-size: 24px;
    margin-bottom: 0;
    letter-spacing: 2px;
}


@media (max-width: 1700px) and (min-width: 1500px) {
    
}

@media (max-width: 1499px) and (min-width: 700px) {
    .home-section2-text-content h1 {
        font-size: 36px;
    }
    
    .home-section2-text-content h2 {
        font-size: 28px;
    }
    
    .home-section2-text-content p {
        font-size: 24px;  
    }

    .home-section2-button {
        font-size: 28px;
        letter-spacing: 6px;
        padding: 10px 30px;   
    }

    .home-section2-right-image {
        height: 394px;
        width: 293px;
    }

    .home-section3-left-vignette h3, .home-section3-center-vignette h3, .home-section3-right-vignette h3 {
        font-size: 30px;
    }

    .home-section3-left-vignette p, .home-section3-center-vignette p, .home-section3-right-vignette p {
        font-size: 20px;
    }
}

@media (max-width: 699px) {
    .home {
        letter-spacing: 0px;
    }

    .home-section1-background-image {
        top: 0;
        width: 100%;
        padding-top: 0;
    }

    .home-section2 {
        display: flex;
        margin: 0%;
        padding: 3%;
    }

    .home-section2-text-content {   
        padding-left: 0;
        align-items: center;
        width: 100%;
    }

    .home-section2-right-container {
        display: none;
    }

    .home-section2-text-content h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .home-section2-text-content h2 {
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
    }
    
    .home-section2-text-content p {
        font-size: 20px;  
        margin: 0; 
        margin-top: 20px;
    }

    .home-section2-button {
        font-size: 18px;
        letter-spacing: 0px;
        border: none;
        border-radius: 41px;
        padding: 10px 30px;
        margin: 20px 0;
        cursor: pointer;    
    }

    .home-section3 {
        background: black;
    }

    .home-section3-background {
        object-fit: cover;
    }

    .home-section3-title {
        position: absolute;
        left: 50%;        
        transform: translate(-50%, 0%);
        z-index: 2;
        font-family: "NerisBlack";
        font-size: 36px;
        color: white;
        font-style: italic;
        width: 100%;
    }

    .home-section3-vignettes-container {
        flex-direction: column;
    }

    .home-section3-left-vignette, .home-section3-center-vignette, .home-section3-right-vignette {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .home-section3-left-vignette h3, .home-section3-center-vignette h3, .home-section3-right-vignette h3 {
        margin-top: 0;
        font-family: "NerisBlack";
        font-size: 26px;
        font-style: italic;
        padding-bottom: 0px;
        letter-spacing: 2px;
    }
    
    .home-section3-left-vignette p, .home-section3-center-vignette p, .home-section3-right-vignette p {
        font-family: "Neris";
        font-size: 20px;
        margin-bottom: 0;
        padding: 0 5px;
        letter-spacing: 0px;
    }
}
