@font-face {
    font-family: "NerisBlack";
    src: url("../../fonts/Neris-Black.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Neris";
    src: url("../../fonts/Neris-Light.otf") format("truetype");
    font-display: swap;
}

.my-races {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.my-races h1 {
    font-family: "NerisBlack";
    font-size: 35px;
    font-style: italic;
    color: #1F384C;
    margin: 0;
    padding: 3% 0;
}

.my-races-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
  
.my-races-table-container {
    width: 80%;
    overflow-y: auto;
    max-height: 500px;
    padding: 0;
}

.my-races-table-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Neris";
    font-size: 11px;
    background-color: #FAFAFA;
}

.my-races-table-container th,
.my-races-table-container td {
    border: 1px solid black;
    padding: 9px;
    text-align: center;
    border-left: none;
    border-right: none;
}

.my-races-table-container td {
    font-family: "Neris";
    cursor: pointer;
    font-size: 14px;
}

.my-races-table-container th {
    font-family: "NerisBlack";
    background-color: #FFE220;
    border-top: none;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 16px;
}