@font-face {
    font-family: "NerisBlack";
    src: url("../../fonts/Neris-Black.otf") format("truetype");
    font-display: swap;
}

.navbar-desktop {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FDDD07;
}

.navbar-mobile {
    display: none;
}

.navbar-logo { 
    margin-left: 160px;
}

.navbar-logo-image {
    padding-top: 4px;
    height: 63px;
    width: 63px;
}

.navbar-center-links {
    height: 100%;
    display: flex;
    align-items: center;    
    margin-right: auto;
    margin-left: 15%;
}

.navbar-link {
    margin: 0 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "NerisBlack";
    font-style: italic;
}

.navbar-item {
    position: relative;
    display: flex;
    align-items: center; 
}

@media (max-width: 1700px) and (min-width: 1500px) {
    .navbar-center-links {
        margin-left: 10%;
    }
}

@media (max-width: 1499px) and (min-width: 700px) {
    .navbar-center-links {
        margin-left: 10%;
    }

    .navbar-link {
        margin: 0 20px;
        font-size: 14px;
    }
}

/* Mobile ---------------------------- */
@media (max-width: 699px) {
    body.menu-open {
        position: fixed;
        width: 100%;
        top: calc(-1 * var(--scroll-y));
    }
    
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: transparent;
        transition: opacity 0.5s ease;
        font-family: "NerisBlack";
        font-size: 18px;
    }

    .navbar-menu-icon {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        display: inline-flex;
        background-color: none;
        cursor: pointer;
        width: 100px;
        height: 100px;
    }

    .navbar-hamburger-icon {
        display: inline-flex;
        width: 65%;
        height: 65%;  
        margin-right: 5px;
        fill: #FDDD07;
    }

    .navbar-hamburger-icon.active {
        display: inline-flex;
        width: 65%;
        height: 65%;  
        margin-right: 5px;
        fill: black;
    }
    
    .navbar-sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        z-index: 1;
        left: -100vw;
        width: 100vw;
        height: 100%;
        padding-top: 60px;
        color: black;
        background-color: #FDDD07;
        transition: left 0.3s ease;
    }

    .navbar-sidebar.active {
        overflow: hidden;
        transform: translateX(80%);
        transition: transform 0.3s ease;
    }

    .navbar-sidebar-link {
        display: inline-block;
        padding: 10px;
        padding-left: 30%;
        padding-bottom: 20px;
        text-decoration: none;
        color: inherit;
    }

    .navbar-sidebar-link:first-child {
        margin-top: 40px;
    }
}